@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --principalColor: rgb(5, 19, 1);
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: rgb(214, 255, 214);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(24, 23, 22);
}

header {
  background-color: rgb(5, 160, 0);
  box-shadow: 1px 1px 10px black;
  width: 100%;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo {
    width: 48px;
    margin-left: 80px;
    transform: rotateZ(20deg);
    animation: animaControl 2s infinite alternate ease-in-out 2s;
  }

  @keyframes animaControl {
    to {
      transform: rotateZ(0deg);
      transform: scale(1.05);
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;

    #inputSearch {
      width: 350px;
      height: 30px;
      border-radius: 4px;
      outline: none;
      font-weight: 600;
      font-size: 17px;
      padding-left: 7px;

      &::placeholder {
        font-style: italic;
      }
    }
    .iconLupa {
      width: 24px;
      margin-right: 5px;
    }
  }

  ul {
    display: flex;
    gap: 60px;
    padding: 10px 30px;
    margin-right: 50px;

    li {
      list-style: none;
      font-family: "Roboto", sans-serif;
      cursor: pointer;

      a {
        text-decoration: none;
        color: var(--principalColor);
        font-weight: 500;
        font-size: 20px;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.section-main-games {
  background-color: rgba(9, 255, 0, 0.562);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 100px;

  h1 {
    color: rgb(6, 19, 2);
    text-align: center;
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 100px;
    text-shadow: rgba(20, 199, 20, 0.842) 9px 0px 3px;
    padding-bottom: 50px;
  }

  .containerGames {
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 1050px;
    margin-top: 50px;
    justify-content: center;
    gap: 30px;
    flex-flow: row wrap;
    padding: 20px;

    .box-total-game{
      margin-bottom: 30px;
      height: 420px;
      flex: 1 1 300px;
    }

    .boxGame {
      background-color: rgb(0, 0, 0);
      height: 350px;
      border-radius: 10px;
      display: flex;
      flex: 1 1 300px;
      justify-content: center;
      align-items: center;
      border: 2px solid rgb(5, 126, 5);
      filter: brightness(0.8);
      transition: all 0.5s ease-in-out;

      &:hover {
        filter: brightness(1);

        .soon {
          font-size: 3.2rem;
          letter-spacing: 5px;
        }
      }

      .soon {
        color: white;
        font-size: 3rem;
        transform: rotateZ(-35deg);
        transition: all 0.5s ease-in-out;
        cursor: default;
      }
    }
  }
}

#hit-the-number, #jump-stone, #cat-question {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  overflow: hidden;

  .info-game {
    margin-bottom: -400px;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;

    h3,
    h4,
    p,
    li {
      padding: 5px;
      margin-top: 7px;
      font-family: "Roboto", sans-serif;
    }
    h3 {
      margin-top: 5px;
      margin-bottom: 25px;
    }
    h4 {
      margin-bottom: -13px;
      letter-spacing: 1px;
    }

    .gameplay{
      display: flex;
      justify-content: space-between;

      .level {
        list-style-type: disc;
        padding-left: 0px;
        margin-left: 20px;
      }

      .stars-list{
        margin-top: 15px;
        display: flex;
        margin-left: 0px;
        
        .star{
          list-style: none;
          color: gold;
          font-size: 1.8rem;
          cursor: pointer;
          border: 1px solid transparent;
        }
        .star::before{
          content: '\2605';
        }
        .star.ativo ~ .star::before{
          content: '\2606';
        }
        .stars-list:hover  ~ .star::before{
          content: '\2605';
        }
        .star:hover ~ .star::before{
          content: '\2606';
        }
        
        .evaluation{
          list-style: none;
          padding: 5px;
          margin-top: 15px;
          margin-left: -8px;
          font-size: 11px;
          
        }
      }
    }
  }

  &:hover {
    .info-game {
      margin-bottom: 0px;
      background-color: rgba(0, 0, 0, 0.808);
      color: white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      width: 100%;
      height: 100%;
      padding: 20px 10px;
      cursor: default;
    }
  }
}
.btn-play-game{
  background-color:black;
  color: white;
  border-radius: 4px;
  position: relative;
  left: 50%;
  margin-top: 15px;
  transform: translate(-50%);
  width: 97%;
  height: 45px;
  cursor: pointer;

  &:hover{
    background-color: rgb(37, 150, 15);
  }
}

.btn-play-game:disabled{
  filter: brightness(70%);

  &:hover{
    border: none;
    color: white;
    background-color: black;
    cursor: default;
  }
  
}


// .section-main-about{
//   background-color: rgb(9, 80, 7);
//   min-height: 100vh;
//   width: 100%;
// }
// .section-main-me{
//   background-color: rgba(9, 255, 0, 0.562);
//   min-height: 100vh;
//   width: 100%;
// }



footer {
  background-color: rgb(5, 160, 0);
  box-shadow: 1px 1px 10px black;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--principalColor);

  p {
    padding: 10px;
  }
}

@media (max-width: 1160px) {
  header {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: rgba(9, 255, 0, 0.562);

    .search {
      display: none;
    }

    .logo {
      width: 100px;
      margin-bottom: 30px;
      margin-top: 30px;
      transform: translate(-50%);
    }
    nav {
      margin-left: 50px;
      justify-content: center;

      ul li a {
        border-bottom: 1px solid rgb(6, 19, 2);
        padding: 3px;
      }
    }
  }
  main h1 {
    padding-top: 100px;
  }
}
@media (max-width: 550px){
  header ul{
    gap: 40px;
  }
}
